#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define MACRO_ALTCODE(NAME, KEYS) \
    NAME: NAME { \
        compatible = "zmk,behavior-macro"; \
        label = "##NAME"; \
        #binding-cells = <0>; \
        bindings = \
            <&macro_press   &kp LALT>, \
            <&macro_tap     KEYS>, \
            <&macro_release &kp LALT>; \
    };

/ {

    behaviors {
        #include "macros.dtsi"

        msl: mod_sticky_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "MOD_STICKY_LAYER";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings =
                <&kp>,
                <&sl>;
        };
    };

    macros {
        // Accents
        // ref: https://support.microsoft.com/en-us/office/insert-ascii-or-unicode-latin-based-symbols-and-characters-d13f58d3-7bcb-44a7-a4d5-972ee12e50e0

        // é - ALT+130
        MACRO_ALTCODE(lc_e_acute, &kp KP_N1 &kp KP_N3 &kp KP_N0)
        // É - ALT+144
        MACRO_ALTCODE(uc_e_acute, &kp KP_N1 &kp KP_N4 &kp KP_N4)

        // à - ALT+133
        MACRO_ALTCODE(lc_a_grave, &kp KP_N1 &kp KP_N3 &kp KP_N3)
        // À - ALT+0192
        MACRO_ALTCODE(uc_a_grave, &kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N2)
        // è - ALT+138
        MACRO_ALTCODE(lc_e_grave, &kp KP_N1 &kp KP_N3 &kp KP_N8)
        // È - ALT+0200
        MACRO_ALTCODE(uc_e_grave, &kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N0)
        // ù - ALT+151
        MACRO_ALTCODE(lc_u_grave, &kp KP_N1 &kp KP_N5 &kp KP_N1)
        // Ù - ALT+0217
        MACRO_ALTCODE(uc_u_grave, &kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N7)

        // â - ALT+131
        MACRO_ALTCODE(lc_a_circ, &kp KP_N1 &kp KP_N3 &kp KP_N1)
        // Â - ALT+0194
        MACRO_ALTCODE(uc_a_circ, &kp KP_N0 &kp KP_N1 &kp KP_N9 &kp KP_N4)
        // ê - ALT+136
        MACRO_ALTCODE(lc_e_circ, &kp KP_N1 &kp KP_N3 &kp KP_N6)
        // Ê - ALT+202
        MACRO_ALTCODE(uc_e_circ, &kp KP_N2 &kp KP_N0 &kp KP_N2)
        // î - ALT+140
        MACRO_ALTCODE(lc_i_circ, &kp KP_N1 &kp KP_N4 &kp KP_N0)
        // Î - ALT+0206
        MACRO_ALTCODE(uc_i_circ, &kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N6)
        // ô - ALT+147
        MACRO_ALTCODE(lc_o_circ, &kp KP_N1 &kp KP_N4 &kp KP_N7)
        // Ô - ALT+212
        MACRO_ALTCODE(uc_o_circ, &kp KP_N2 &kp KP_N1 &kp KP_N2)
        // û - ALT+150
        MACRO_ALTCODE(lc_u_circ, &kp KP_N1 &kp KP_N5 &kp KP_N0)
        // Û - ALT+0219
        MACRO_ALTCODE(uc_u_circ, &kp KP_N0 &kp KP_N2 &kp KP_N1 &kp KP_N9)

        // ë - ALT+137
        MACRO_ALTCODE(lc_e_uml, &kp KP_N1 &kp KP_N3 &kp KP_N7)
        // Ë - ALT+203
        MACRO_ALTCODE(uc_e_uml, &kp KP_N2 &kp KP_N0 &kp KP_N3)
        // ï - ALT+139
        MACRO_ALTCODE(lc_i_uml, &kp KP_N1 &kp KP_N3 &kp KP_N9)
        // Ï - ALT+0207
        MACRO_ALTCODE(uc_i_uml, &kp KP_N0 &kp KP_N2 &kp KP_N0 &kp KP_N7)

        // ç - ALT+135
        MACRO_ALTCODE(lc_c_cedil, &kp KP_N1 &kp KP_N3 &kp KP_N5)
        // Ç - ALT+128
        MACRO_ALTCODE(uc_c_cedil, &kp KP_N1 &kp KP_N2 &kp KP_N8)
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
       &kp EQUAL     &kp N1    &kp N2  &kp N3  &kp N4  &kp N5         &tog 1                                                          &mo 3  &kp N6  &kp N7     &kp N8    &kp N9    &kp N0     &kp MINUS
         &kp TAB      &kp Q     &kp W   &kp E   &kp R   &kp T          &none                                                          &none   &kp Y   &kp U      &kp I     &kp O     &kp P      &kp BSLH
&mt LCTRL ESCAPE      &kp A     &kp S   &kp D   &kp F   &kp G          &none     &kp LCTRL  &kp LALT       &kp LGUI    &kp RCTRL      &none   &kp H   &kp J      &kp K     &kp L  &kp SEMI       &kp SQT
       &kp LSHFT      &kp Z     &kp X   &kp C   &kp V   &kp B                               &kp HOME      &kp PG_UP                           &kp N   &kp M  &kp COMMA   &kp DOT  &kp FSLH  &msl RSHFT 4
           &mo 2  &kp GRAVE  &kp CAPS   &none   &none          &kp BACKSPACE  &lt 2 DELETE   &kp END      &kp PG_DN  &lt 5 ENTER  &kp SPACE           &none      &none  &kp LBKT  &kp RBKT         &mo 2
            >;
        };

        keypad {
            bindings = <
&kp EQUAL     &kp N1    &kp N2    &kp N3     &kp N4  &kp N5    &trans                                                     &mo 3  &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
  &kp TAB      &kp Q     &kp W     &kp E      &kp R   &kp T     &none                                                     &none   &kp Y   &kp KP_N7     &kp KP_N8      &kp KP_N9     &kp KP_MINUS   &kp BSLH
  &kp ESC      &kp A     &kp S     &kp D      &kp F   &kp G     &none  &kp LCTRL  &kp LALT       &kp LGUI  &kp RCTRL      &none   &kp H   &kp KP_N4     &kp KP_N5      &kp KP_N6      &kp KP_PLUS    &kp SQT
&kp LSHFT      &kp Z     &kp X     &kp C      &kp V   &kp B                       &kp HOME      &kp PG_UP                         &kp N   &kp KP_N1     &kp KP_N2      &kp KP_N3     &kp KP_ENTER  &kp RSHFT
    &mo 2  &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC    &kp DEL   &kp END      &kp PG_DN  &kp ENTER  &kp KP_N0              &kp UP      &kp DOWN     &kp KP_DOT         &kp RBKT      &mo 2
            >;
        };

        fn {
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                       &mo 3          &kp F7          &kp F8        &kp F9          &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans   &none                                       &none        &kp HOME   &kp PAGE_DOWN   &kp PAGE_UP          &kp END   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans   &none  &trans  &trans      &trans  &trans   &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                          &trans          &trans        &trans           &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans                          &trans        &trans           &trans   &trans   &trans
            >;
        };

        mod {
            bindings = <
&none  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4        &none                                                            &trans  &none       &none       &none  &none  &none  &none
&none         &none         &none         &none         &none         &none  &bootloader                                                       &bootloader  &none       &none       &none  &none  &none  &none
&none         &none         &none         &none         &none         &none        &none  &none  &none      &bt BT_CLR       &none  &rgb_ug RGB_MEFS_CMD 5  &none       &none       &none  &none  &none  &none
&none         &none         &none         &none         &none         &none                      &none           &none                                      &none       &none       &none  &none  &none  &none
&none         &none         &none         &none         &none                      &none  &none  &none           &none  &bl BL_TOG         &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        lc_accents {
            bindings = <
&trans    &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans  &trans  &lc_e_grave  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &lc_a_grave  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&mo 5    &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        uc_accents {
            bindings = <
&trans    &trans  &trans  &trans  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans  &trans  &uc_e_grave  &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &uc_a_grave  &trans  &trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans    &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };

        wm_sym {
            bindings = <
&trans  &trans  &trans  &trans                 &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                 &trans  &trans  &trans                                      &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                 &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &kp LS(LA(LC(LG(C))))  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans                 &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
