// Accents
// ref: https://zmk.dev/docs/behaviors/macros#unicode-sequences
// ref: https://support.microsoft.com/en-us/office/insert-ascii-or-unicode-latin-based-symbols-and-characters-d13f58d3-7bcb-44a7-a4d5-972ee12e50e0

// é - ALT+130
MACRO_ALTCODE(LOWER_E_ACUTE, KC_KP_1 KC_KP_3 KC_KP_0)
    // É - ALT+144
MACRO_ALTCODE(UPPER_E_ACUTE, KC_KP_1 KC_KP_4 KC_KP_4)

    // à - ALT+133
MACRO_ALTCODE(LOWER_A_GRAVE, KC_KP_1 KC_KP_3 KC_KP_3)
    // À - ALT+0192
MACRO_ALTCODE(UPPER_A_GRAVE, KC_KP_0 KC_KP_1 KC_KP_9 KC_KP_2)
    // è - ALT+138
MACRO_ALTCODE(LOWER_E_GRAVE, KC_KP_1 KC_KP_3 KC_KP_8)
    // È - ALT+0200
MACRO_ALTCODE(UPPER_E_GRAVE, KC_KP_0 KC_KP_2 KC_KP_0 KC_KP_0)
    // ù - ALT+151
MACRO_ALTCODE(LOWER_U_GRAVE, KC_KP_1 KC_KP_5 KC_KP_1)
    // Ù - ALT+0217
MACRO_ALTCODE(UPPER_U_GRAVE, KC_KP_0 KC_KP_2 KC_KP_1 KC_KP_7)

    // â - ALT+131
MACRO_ALTCODE(LOWER_A_CIRC, KC_KP_1 KC_KP_3 KC_KP_1)
    // Â - ALT+0194
MACRO_ALTCODE(UPPER_A_CIRC, KC_KP_0 KC_KP_1 KC_KP_9 KC_KP_4)
    // ê - ALT+136
MACRO_ALTCODE(LOWER_E_CIRC, KC_KP_1 KC_KP_3 KC_KP_6)
    // Ê - ALT+202
MACRO_ALTCODE(UPPER_E_CIRC, KC_KP_2 KC_KP_0 KC_KP_2)
    // î - ALT+140
MACRO_ALTCODE(LOWER_I_CIRC, KC_KP_1 KC_KP_4 KC_KP_0)
    // Î - ALT+0206
MACRO_ALTCODE(UPPER_I_CIRC, KC_KP_0 KC_KP_2 KC_KP_0 KC_KP_6)
    // ô - ALT+147
MACRO_ALTCODE(LOWER_O_CIRC, KC_KP_1 KC_KP_4 KC_KP_7)
    // Ô - ALT+212
MACRO_ALTCODE(UPPER_O_CIRC, KC_KP_2 KC_KP_1 KC_KP_2)
    // û - ALT+150
MACRO_ALTCODE(LOWER_U_CIRC, KC_KP_1 KC_KP_5 KC_KP_0)
    // Û - ALT+0219
MACRO_ALTCODE(UPPER_U_CIRC, KC_KP_0 KC_KP_2 KC_KP_1 KC_KP_9)

    // ë - ALT+137
MACRO_ALTCODE(LOWER_E_UML, KC_KP_1 KC_KP_3 KC_KP_7)
    // Ë - ALT+203
MACRO_ALTCODE(UPPER_E_UML, KC_KP_2 KC_KP_0 KC_KP_3)
    // ï - ALT+139
MACRO_ALTCODE(LOWER_I_UML, KC_KP_1 KC_KP_3 KC_KP_9)
    // Ï - ALT+0207
MACRO_ALTCODE(UPPER_I_UML, KC_KP_0 KC_KP_2 KC_KP_0 KC_KP_7)
    // ü - ALT+129
MACRO_ALTCODE(LOWER_U_UML, KC_KP_1 KC_KP_2 KC_KP_9)
    // Ü - ALT+154
MACRO_ALTCODE(UPPER_U_UML, KC_KP_1 KC_KP_5 KC_KP_4)

    // ç - ALT+135
MACRO_ALTCODE(LOWER_C_CEDIL, KC_KP_1 KC_KP_3 KC_KP_5)
    // Ç - ALT+128
MACRO_ALTCODE(UPPER_C_CEDIL, KC_KP_1 KC_KP_2 KC_KP_8)
